body {
    box-sizing: border-box;
    background-color: black; }
  
  header {
    display: inline-block; }
  
  h1 {
    color: white;
    font-family: "Sentinel", Helvetica,Arial,sans-serif;
    font-weight: 900;
    font-size: 18px; }
  
  .author-name-area{
    font-family: "Sentinel", Helvetica,Arial,sans-serif;
    display: grid;
    grid-template-areas: "avatar author comments";
    font-size: .7rem; 
    color: white;
  }

  .author-links{
    color: white;
    text-decoration: none;
    font-size: .7rem;

  }

  p{
    color:white;
    font-size: 18px;

  }

  .article-link{
    color: orange;
  }