body {
    box-sizing: border-box;
    display: block;
    background-color: black; 
  }

  
  article{
    margin: 20px 30px;
  }
  

  header {
    display: inline-block;
    color: white;
    font-size: 18px;
    padding: 10px 10px;
   }


   h1 {
    color: white;
    font-family: "Sentinel", Helvetica,Arial,sans-serif;
    font-weight: 900;
    font-size: 2.2rem; 
    margin: 10px 10px;
  }

  .author-name {
    width: 20vw;
  }
  
  .author-name-area{
    display: flex;
   
    font-size: .7rem; 
    color: #7a7a8c;
    font-family: "Sentinel", Helvetica,Arial,sans-serif;
    margin: 10px 5px;
    padding: 5px 5px;
   
  }
  
  


  .author-links{
    color: white;
    text-decoration: none;
    font-size: .7rem;

  }

  p{
    display:block;
    color:white;
    font-size: 18px;
    width: 50rem;
    padding: 5px 5px;
    margin-bottom: 30px;
    

  }

  .article-link{
    font-size: 20px;
    background: -webkit-linear-gradient(rgb(201, 7, 7), rgb(255,165,0));
    -webkit-background-clip: text;
    background-clip: none;
    -webkit-text-fill-color: transparent;
    text-decoration: underline;
    text-decoration-color: orange;
    margin-bottom: 15px;
  }

  .chris-picture{
    border-radius: 100%;
    border-bottom: 5px solid orangered;
    height: 4rem;
    width: 4rem;
    margin: 5px 5px;
    
  }

  .tags a{
    text-decoration: none;
    text-transform: uppercase;
    color: #7a7a8c;
    font-size: .7rem;
    font-weight: 700;
    border-radius: 2rem;
    border: 3px solid #28242f;
   
 }