.recent-articles-header {
    background-color: orange;
    border-radius: 20px;
    padding: 20px;
    width: 30%;
}

.recent-articles {
    display: flex;
}

.card-container {
    display: flex;
}

