.recent-articles-header {
    background: -webkit-linear-gradient(#ff8a00, #e52e71);
    border-radius: 20px;
    padding: 20px;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.recent-articles {
    display: flex;
    height: 30vw;
}

.article-card {
    background-color: #17141d;
    border-radius: 5px;
    width: 20vw;
    margin: 0;
    border: black solid 1px;
    text-align: center;
}

.card-container {
    display: flex;
}