.recent-articles-header {
    background: -webkit-linear-gradient(#ff8a00, #e52e71);
    border-radius: 20px;
    padding: 20px;
    width: 30%;
}

.recent-articles {
    display: flex;
    height: 30vw;
}

.article-card {
    background-color: #17141d;
    border-radius: 5px;
}

.card-container {
    display: flex;
}

