
.screen-reader-text {
    color:white;
    text-decoration: none;
}

header {
    display: inline-block;
    color: white;
    font-size: 20px;
    text-align: center;

    
    .main-sections li {
        display: inline;
        color: white;
        margin-left: 2rem;
    }
    .main-sections li:hover {
        background-color: #7a7a8c;
    }

   }

   span {
    color:orange;
    font-size: 24px;
    }
    .site-header .main-nav .main-sections>li>a {
        font-family: Ringside Regular A,Ringside Regular B,Rubik,Lato,Lucida Grande,Lucida Sans Unicode,Tahoma,Sans-Serif;
        font-style: normal;
        font-weight: 700;
        font-size: .7rem;
    }

    .site-header {
        position: relative;
        z-index: 1000;
        display: flex;
        background: #100e17;
        border-bottom: 1px solid #201c29;
    }



button {
    border: 0;
    border-top-right-radius: 27px;
    border-bottom-right-radius: 27px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    background-image: linear-gradient(90deg,#ff8a00,#e52e71);
    padding: 0 22px 0 18px;
}
    //     -webkit-gradient (linear, left top, left bottom, from(#ff08ef), to(#fc4a0f));

