
.screen-reader-text {
    color:white;
    text-decoration: none;
}

header {
    display: inline-block;
    color: white;
    font-size: 20px;
    text-align: center;

    
    .main-sections li {
        display: inline;
        color: white;
        margin-left: 2rem;
    }
    .main-sections li:hover {
        background-color: #7a7a8c;
    }

   }

   span {
    color:orange;
    font-size: 24px;
    }

    // .search-form input[type=search] {
    //     background: #201c29;
    //     border: 0;
    //     min-width: 0;
    //     flex: 1;
    //     color: #fff;
    //     padding: .5rem 1rem;
    //     border-top-left-radius: 27px;
    //     border-bottom-left-radius: 27px;
    //     border-top-right-radius: 0;
    //     border-bottom-right-radius: 0;
    // }

    .site-header {
        position: relative;
        z-index: 1000;
        display: flex;
        background: #100e17;
        border-bottom: 1px solid #201c29;
    }

    button {
        -webkit-gradient(linear, left top, left bottom, from(#ff08ef), to(#fc4a0f));
    }

