body {
  box-sizing: border-box;
  background-color: black; }

article {
  float: left; }

header {
  display: inline-block;
  color: white;
  font-size: 18px; }

h1 {
  color: white;
  font-family: "Sentinel", Helvetica,Arial,sans-serif;
  font-weight: 900;
  font-size: 2.2rem; }

.author-name-area {
  font-family: "Sentinel", Helvetica,Arial,sans-serif;
  display: grid;
  grid-template-areas: "avatar author comments";
  gap: .25rem .1rem;
  font-size: .7rem;
  color: #7a7a8c; }

.author-links {
  color: white;
  text-decoration: none;
  font-size: .7rem; }

p {
  display: block;
  color: white;
  font-size: 18px;
  width: 50rem; }

.article-link {
  color: orange; }

.chris-picture {
  border-radius: 100%;
  height: 4rem;
  width: 4rem;
  margin: 5px 2px; }
