* {
  /* HTML5 display-role reset for older browsers */ }
  * html, * body, * div, * span, * applet, * object, * iframe,
  * h1, * h2, * h3, * h4, * h5, * h6, * p, * blockquote, * pre,
  * a, * abbr, * acronym, * address, * big, * cite, * code,
  * del, * dfn, * em, * img, * ins, * kbd, * q, * s, * samp,
  * small, * strike, * strong, * sub, * sup, * tt, * var,
  * b, * u, * i, * center,
  * dl, * dt, * dd, * ol, * ul, * li,
  * fieldset, * form, * label, * legend,
  * table, * caption, * tbody, * tfoot, * thead, * tr, * th, * td,
  * article, * aside, * canvas, * details, * embed,
  * figure, * figcaption, * footer, * header, * hgroup,
  * menu, * nav, * output, * ruby, * section, * summary,
  * time, * mark, * audio, * video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline; }
  * article, * aside, * details, * figcaption, * figure,
  * footer, * header, * hgroup, * menu, * nav, * section {
    display: block; }
  * body {
    line-height: 1; }
  * ol, * ul {
    list-style: none; }
  * blockquote, * q {
    quotes: none; }
  * blockquote:before, * blockquote:after,
  * q:before, * q:after {
    content: '';
    content: none; }
  * table {
    border-collapse: collapse;
    border-spacing: 0; }

body {
  box-sizing: border-box;
  display: block;
  background-color: black; }

article {
  float: left;
  margin: 10px 20px; }

header {
  display: inline-block;
  color: white;
  font-size: 18px; }

h1 {
  color: white;
  font-family: "Sentinel", Helvetica,Arial,sans-serif;
  font-weight: 900;
  font-size: 2.2rem; }

.author-name-area {
  display: grid;
  grid-template-areas: "avatar author comments";
  gap: 7rem;
  margin: 10px 10px; }

.author-name-area p {
  font-size: .7rem;
  color: #7a7a8c;
  font-family: "Sentinel", Helvetica,Arial,sans-serif;
  margin: 10px 5px;
  padding: 5px 5px; }

.author-links {
  color: white;
  text-decoration: none;
  font-size: .7rem; }

p {
  display: block;
  color: white;
  font-size: 18px;
  width: 50rem; }

.article-link {
  color: orange; }

.chris-picture {
  border-radius: 100%;
  height: 4rem;
  width: 4rem;
  margin: 5px 5px; }

.tags a {
  text-decoration: none;
  text-transform: uppercase;
  color: #7a7a8c;
  font-size: .5rem;
  font-weight: 700;
  border-radius: 2rem;
  border: 3px solid #28242f; }

.recent-articles-header {
  background-color: orange;
  border-radius: 20px; }

.screen-reader-text {
  color: white;
  text-decoration: none; }

header {
  display: inline-block;
  color: white;
  font-size: 20px;
  text-align: center; }
  header .main-sections li {
    display: inline;
    color: white;
    margin-left: 2rem; }
  header .main-sections li:hover {
    background-color: #7a7a8c; }

span {
  color: orange;
  font-size: 24px; }

.site-header {
  position: relative;
  z-index: 1000;
  display: flex;
  background: #100e17;
  border-bottom: 1px solid #201c29; }

button {
  background-color: orange; }
