* {
  /* HTML5 display-role reset for older browsers */ }
  * html, * body, * div, * span, * applet, * object, * iframe,
  * h1, * h2, * h3, * h4, * h5, * h6, * p, * blockquote, * pre,
  * a, * abbr, * acronym, * address, * big, * cite, * code,
  * del, * dfn, * em, * img, * ins, * kbd, * q, * s, * samp,
  * small, * strike, * strong, * sub, * sup, * tt, * var,
  * b, * u, * i, * center,
  * dl, * dt, * dd, * ol, * ul, * li,
  * fieldset, * form, * label, * legend,
  * table, * caption, * tbody, * tfoot, * thead, * tr, * th, * td,
  * article, * aside, * canvas, * details, * embed,
  * figure, * figcaption, * footer, * header, * hgroup,
  * menu, * nav, * output, * ruby, * section, * summary,
  * time, * mark, * audio, * video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline; }
  * article, * aside, * details, * figcaption, * figure,
  * footer, * header, * hgroup, * menu, * nav, * section {
    display: block; }
  * body {
    line-height: 1; }
  * ol, * ul {
    list-style: none; }
  * blockquote, * q {
    quotes: none; }
  * blockquote:before, * blockquote:after,
  * q:before, * q:after {
    content: '';
    content: none; }
  * table {
    border-collapse: collapse;
    border-spacing: 0; }

body {
  box-sizing: border-box;
  display: block;
  background-color: black; }

article {
  margin: 20px 30px;
  font-family: "Sentinel",Arial, Helvetica,sans-serif; }

header {
  display: inline-block;
  color: white;
  font-size: 18px;
  padding: 10px 10px; }

h1 {
  color: white;
  font-weight: 900;
  font-size: 2.2rem;
  margin: 10px 10px; }

time {
  color: #7a7a8c; }

.author-name-area {
  display: flex;
  justify-content: space-around;
  width: 40vw;
  font-size: .7rem;
  color: #7a7a8c;
  margin: 10px 5px;
  padding: 5px 5px; }

.author-links {
  color: white;
  text-decoration: none;
  font-size: .7rem; }

p {
  display: block;
  color: white;
  font-size: 18px;
  font-weight: 400;
  width: 50rem;
  padding: 5px 5px;
  margin-bottom: 30px; }

.article-link {
  font-size: 20px;
  background: -webkit-linear-gradient(#c90707, orange);
  -webkit-background-clip: text;
  background-clip: none;
  -webkit-text-fill-color: transparent;
  text-decoration: underline;
  text-decoration-color: orange;
  margin-bottom: 15px; }

.chris-picture {
  border-radius: 100%;
  border-bottom: 5px solid orangered;
  height: 4rem;
  width: 4rem;
  margin: 5px 5px; }

.tags a {
  text-decoration: none;
  text-transform: uppercase;
  color: #7a7a8c;
  font-size: .6rem;
  font-weight: 700;
  border-radius: 2rem;
  border: 3px solid #28242f;
  padding: .2rem .2rem; }

.recent-articles-header {
  background: -webkit-linear-gradient(#ff8a00, #e52e71);
  border-radius: 20px;
  padding: 20px;
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end; }

.recent-articles {
  display: flex;
  height: 40vw; }

.article-card {
  background-color: #17141d;
  border-radius: 5px;
  width: 20vw;
  margin: 0;
  border: black solid 1px;
  text-align: center; }

.card-container {
  display: flex; }
